---
import Layout from "../layouts/Layout.astro";
import ReservaButton from "../components/events-meta/reservaButton.astro";

const agendaBg =
    "https://pub-81aca52011284a96b910aedeefde00fe.r2.dev/silestone-portada-agenda.jpg";

const pageviewData = { landing: "agenda" };
---

<style
    define:vars={{
        agendaBackground: `url("${agendaBg}")`,
    }}
>
    .agenda-portada {
        background-image: var(--agendaBackground);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 50vh;
        width: 100%;
    }
</style>

<Layout
    title="Stroit Surfaces | Agenda tu Asesoría Personalizada en Superficies"
    description="Agenda una videollamada o llamada telefónica con nuestras asesoras para recibir orientación personalizada sobre Dekton, Silestone y Sensa."
    pageviewData={pageviewData}
>
    <main
        class="bg-zinc-900 min-h-screen flex items-center justify-center px-4 py-10"
    >
        <div
            class="bg-black rounded-xl max-w-5xl w-full flex flex-col lg:flex-row overflow-hidden"
        >
            <!-- Contenido -->
            <div
                class="p-8 lg:w-1/2 flex flex-col justify-center text-left space-y-6"
            >
                <h1 class="text-4xl md:text-5xl font-bold text-white">
                    Agenda tu llamada y recibe asesoría personalizada
                </h1>
                <p class="text-zinc-400 text-lg md:text-xl leading-relaxed">
                    Queremos ayudarte a elegir el mejor material para tu
                    cubierta de cocina o proyecto. Con una llamada rápida, una
                    de nuestras asesoras podrá guiarte paso a paso según tus
                    necesidades.
                </p>

                <!-- Botón envuelto en un div para evitar que se estire -->
                <div class="inline-block">
                    <ReservaButton
                        text="Agendar llamada"
                        eventName="ClickBotonReserva"
                        className="inline-flex ring-1 px-8 py-4 justify-center ring-zinc-400 space-x-1 items-center "
                    />
                </div>
            </div>

            <!-- Imagen -->
            <div class="flex-1">
                <img
                    src="https://pub-81aca52011284a96b910aedeefde00fe.r2.dev/silestone-portada-agenda.jpg"
                    alt="Asesora Stroit"
                    class="w-full h-auto object-cover mt-6 lg:mt-0"
                />
            </div>
        </div>
    </main>
</Layout>
