---

---

<section class="text-white">
    <button id="marcaBtn">Marcas</button>
    <div class="button-list" id="marcaButtonList">
        <button id="dekton">Dekton</button>
        <button id="silestone">Silestone</button>
        <button id="sensa">Sensa</button>
    </div>
</section>

<script>
    window.addEventListener("DOMContentLoaded", function () {
        const marcaBtn = document.getElementById("marcaBtn");
        const marcaListButtons = document.getElementById("marcaButtonList");

        marcaListButtons.style.display = "none";

        const dropdownOne = () => {
            if (marcaListButtons.style.display === "none") {
                marcaListButtons.style.display = "block";
            } else {
                marcaListButtons.style.display = "none";
            }
        };

        marcaBtn.addEventListener("click", dropdownOne);

        const dektonBtn = document.getElementById("dekton");
        const silestoneBtn = document.getElementById("silestone");
        const sensaBtn = document.getElementById("sensa");

        
    });
</script>
